<div class="login-container">
  <h1 class="app-title">CONTACT MANAGER</h1>
  <div class="login-box">
    <h2>USER LOGIN</h2>

    <div *ngIf="successMessage" class="success-message">
      <span>{{ successMessage }}</span>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <span>{{ errorMessage }}</span>
    </div>

    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter Username" [(ngModel)]="credentials.username" name="username" required [class.error]="errorMessage && !credentials.username"/>
        <div *ngIf="errorMessage && !credentials.username" class="inline-error">
          <span>Username is required.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" [(ngModel)]="credentials.password" name="password" required [class.error]="errorMessage && !credentials.password"/>
        <div *ngIf="errorMessage && !credentials.password" class="inline-error">
          <span>Password is required.</span>
        </div>
      </div>
      <button class="login-btn">Login</button>
    </form>
    <p class="register-text">Don't have an account? 
      <a [routerLink]="['/auth/register']">Register</a>
    </p>
  </div>
</div>
  