<nav class="navbar">
  <h1>ADMIN DASHBOARD</h1>
  <input
    type="text"
    class="search-bar"
    [(ngModel)]="searchQuery"
    placeholder="Search User"
    (input)="filterUsers()"
  />
  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td><input type="text" class="username-input" [(ngModel)]="user.username" /></td>
        <td>
          <select class="role-select" [(ngModel)]="user.role">
            <option value="Admin">admin</option>
            <option value="User">user</option>
          </select>
        </td>
        <td>
          <button class="update-btn" (click)="updateUser(user)">Update</button>
          <button (click)="deleteUser(user._id)" class="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="notificationMessage" class="notification">
    {{ notificationMessage }}
  </div>
</div>
